[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/kubernetes/kubernetes
After=docker.service
Requires=docker.service

[Service]
ExecStart=/usr/local/bin/kubelet \
  --config=/etc/kubelet/kubelet-config.yaml \
  --pod-infra-container-image=ibmcom/pause:3.1 \
  --image-pull-progress-deadline=5m \
  --kubeconfig=/etc/kubelet/kubeconfig \
  --network-plugin=cni \
  --register-node=true \
  --hostname-override={{ inventory_hostname }} \
  --runtime-cgroups=/systemd/system.slice \
  --kubelet-cgroups=/systemd/system.slice \
  --v=2
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
